h1{
	text-align: center;color:skyblue;border-style: double;padding: 15px;
}
body{
	background-image: url(https://img95.699pic.com/photo/40100/6015.jpg_wh300.jpg);
}
p.one{
	color: indigo;
}
li{
	padding: 25px;color: white;font-size: 20px;
}
div{
	margin: 70px;padding: 10px;
}
.X{
	overflow: hidden;
}
.X a{
	float: center;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
}
.X a:hover{
	background-color: deepskyblue;
	color: white;
}
.X a{
	color: yellow;
}
a.one{
	float: right;font-size: 30px;color: white;font-style: italic;
}
p.two{
	font-size: 20px;
}